@import "../../../global.scss";


.vdo2ndContainer{
    width: auto;
    height: 150px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    overflow:hidden;

    @include mobile{
        height: 50px;
    }

    @include tab{
        height: auto;
        width: 150px;
    }

    @include mobile{ 
        height: 60px;
        width: 60px;
    }
    
    &:hover{
        box-shadow: 0 0.25em 0.5em 0 rgba($color: #000000, $alpha: 0.25), 0 0.4em 1.25em 0 rgba($color: #000000, $alpha: 0.15);
    }
}
