@import "../../global.scss";
.education {
    background-color: $eduBgColorDarkBlue;
    display: flex;
    flex-direction: column;
    
    

    .title{
        margin-top:90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-family: 'Anton', sans-serif;
            font-size: $title-fontSize*1.5;
            text-transform: uppercase;
            color: white;
            border-bottom: 8px solid whitesmoke;
            border-radius: 1px;
        }

    }

    .content{
        display: flex;
        flex-direction: column;
        margin:50px;
        position: relative;
        
    }



}