@import "../../global.scss";

.contactDetails{
    display: flex;
    cursor: pointer;
    flex-direction: column !important;
    padding-top: 50px;
    transition: all 1s ease-in-out;
    a{
        color: $txtColorDarkGray;
        text-decoration: none;
        margin-bottom: 10px;
        display: flex;
        align-items: center;


        .icon{
            padding-top: 7px;
            .contactIcon{
                font-size: 1.5rem;
                margin-right: 15px;
            }
        }

        .txt{
            span{
                font-size: 1.25rem;
            }
        }

        &:hover{color:white}

    }
}

