@import "../../global.scss";

.cd2{
    display:  flex;
    flex-wrap:  wrap;


    .card-2{
        padding-right: 20px;
        width: 300px;

        @include tab {
            width: 200px;
        }

        @include mobile {
            width: 75px;
        }
        .courseName{
        
            h3{
                font-size: .85rem;
                @include tab {
                    font-size: 10px;
                }
            }
            span{
                font-size: .75rem;

                @include tab{
                    display:  none;
                }

            }
        }
    }
}


.courseDetails{
    width: 200px;
    height: 50px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tab{
        width: 200px;
        height: 40px;
    }

    @include mobile{
        width: 150px;
        height: 40px;
    }

    

    

    
    
    .card-1{     
        display: flex;   
        flex-direction: column;
        justify-content: center;
        // background-color: rgba($color: white, $alpha: 0.5);
        // width: 98%;
        // border-radius: 5px;
        cursor: pointer;
        position: relative;
        transition: all 0.25s ease-in-out;

       

        
        
        .courseName{
            
            span{
                font-size: 0.7rem;
            }
        }
        
        .grades{
            
            justify-content: space-between;
            align-items: center;
            height: 10px;
            padding: 5px 5px;
            position: relative;

            @include tab{
                display: none;
            }
            .gradeTxt{
                position: absolute;
                top: 0px;
                left: 40%;
                font-size: .5rem;
                &::before{
                    content: "Grade: ";
                }

                
            }
            
            .gradeBarDiv{

                .bgBar{

                    height: 2px;
                    background-color: rgba($color: white, $alpha: 0.5);
                    
                    .frontBar{
                        height: 2px;
                        background-color: rgba($color: $txtColorBlue, $alpha: 1.0);
                    }
                }
            }
            
        }
        
        &:hover{
            // background-color: rgba($color: white, $alpha: 1.0);
            .courseName{
                color: $txtColorBlue;
                opacity: .85;
                transform: translateX(10px);
            }
            
            .gradeTxt{
                color: $txtColorDarkGray;
            }
        }
            
    }

}

