@import "../../global.scss";

.eduItems {
    display: flex ;
    flex-direction: column;
    height: auto;

    .topContent{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        

        @include tab {
            display: block;
            flex-direction: column !important;
            justify-content: flex-start;
            height: 70px;
        }



        @include mobile{
            height: 70px;
        }

        .left{
            font-family: 'Anton', sans-serif;
            display: block;
            
            a{
                text-decoration: none;
                color: $txtColorBlue;
            }

            h1{
                font-size: 1.5rem;
                text-transform: uppercase;
                font-family: inherit;
                

                // @include tab{ 
                //     font-size:  1rem;
                // }
                
                
                span{
                    color: $txtColorLighterGray;
                    text-transform: capitalize;
                    font-style: italic;
                    font-size: 1rem;

                    // @include tab{ 
                    //     font-size: 0.5rem;
                    // }

                    &::before{
                        color: $txtColorBlue;
                        font-size: 0.5rem;
                        content: ", ";

                        // @include tab{
                        //     font-size: 0.65rem;
                        // }
                    }
                }
            }

            h2{
                color: white;
                text-transform: uppercase;
                font-size: 00.85rem;

                // @include tab{
                //     font-size: 0.3rem;
                // }
            }


        }

        .right{
            display: flex;
            flex-direction: column;
            justify-content: end;

            @include tab{
                flex-direction: row;
                justify-content: space-between;
            }

            .progressBar{
                position: relative;
                justify-content: center;
                align-items: center;

                @include tab{
                    display: none;
                }

                .bgWhite{
                    position: relative;
                    width: 200px;
                    background-color: rgba($color: white, $alpha: 0.5);
                    border: 0.5px solid rgba($color: white, $alpha: 0.5);
                    border-radius: 3px;                    
                    height: 17px;

                    
                    
                    .bgBlue{
                        background-color: $txtColorBlue;
                        display: flex;
                        justify-content: center;
                        height: 20px;
                    }
                }
                .txt{
                    position: absolute;
                    top: -2px;
                    right: 100px;

                    span{
                        color: white;
                        font-size: .75rem;
                    }
                }
            }


            .duration{
                text-align: right;
                span{
                    color: white;
                    &:first-child::after{
                        content: " - ";
                    }
                }
            }

        }


    }

    .titleDivider{
        width: 100%;
        height: 2px;
        background-color: rgba($color: white, $alpha: 0.25);
        margin: 10px 0 10px 0;
    }

    .midBody{
        font-size: 0.95rem;

        @include tab{
            font-size: 12px;
            height: 20px;
            overflow: hidden;
        }

        @include mobile{
            font-size: 10px;
            height: 15px;
            overflow: hidden;
        }

        
        span{
            font-size: 0.85rem;
            color: rgba($color: white, $alpha: 0.75);

            @include tab{
                display: none;
            }
        }
        color: white;
        margin: 10px 0 20px 0;
    }

    .divider{
        width: 100%;
        height: 5px;
        border-top: 1px solid rgba($color: white, $alpha: 0.05);
        margin: 20px 0 20px 0;
    }

    .footerBody{
        
        display: flex ;
        flex-direction: column;
        overflow-y: scroll;
        color: white;
        

        .footerTitle{
            overflow: hidden;
            h4{
                color: rgba($color: white, $alpha: 0.75);
                margin: 0 0 10px 0;
                overflow: hidden;
                font-size: 16px;

                @include tab {
                    font-size: 12px;
                }

                @include mobile{
                    font-size: 10px;
                }
            }
        }
        .sgCourse{
             display: flex ;
             flex-wrap: wrap;
             margin: 0;
        }
    }




}