@import "../../../global.scss";

.projMain{
    background-color: $projectBgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    

    .projTitle {
        text-align: center;
        padding-top: 90px;
        display: flex !important;
        align-items: center;
        justify-content: center;

        h1{
            font-family: 'Anton', sans-serif;
            font-size: $title-fontSize*1.25;
            text-transform: uppercase;
            color: $skillsTxtTitle;
            // border-bottom: 8px solid whitesmoke;
            // border-radius: 1px;
        }
    }
    
    .projContainer{
        width: 100vw;
        height: calc(100vh - 300px);

        
        // background-color: silver;
        position: absolute;
        
        bottom: 0;
        margin-bottom: 40px;


        display: flex;

        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden; 
        transition: all 0.5s ease-in-out;

        @include mobile{
            flex-direction: column;
        }

        .projItem{
            width: 90%;
            height: 100%;
            background-color: rgba($color: white, $alpha: 0.85);
            box-shadow: 2px 2px 5px 2px rgba($color: #000000, $alpha: 0.25), 0 0px 20px 0 rgba($color: #000000, $alpha: 0.1);
            border-radius: 5px;
            margin: 10px 10px;
            display: flex;

            @include tab{
                flex-direction: column;
            }

            .projLeft{
                flex:4;
                height: 100%;    
                display: flex;
                justify-content: center;
                align-items: center;            
                position: relative;

                @include tab{ 
                    flex: 3;
                    padding: 20px;
                }

                @include mobile {
                    flex: 3;
                }
                .lcFront{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding:0.2em;
                    @include tab{
                        

                    }

                    .projLcTitle{
                        position: relative;


                        h2{
                            font-size: 2.5em;
                            text-transform: uppercase;
                            padding: 30px;
                            margin-bottom: 50px;


                            color: rgba($color: #000000, $alpha: 0.7);
                            @include tab{
                                font-size: 0.75em;
                                padding: 0;
                                margin-bottom: 0;

                            }

                            @include mobile{
                                font-size: 0.6em;
                            }
                        }

                        .lcTitleBack{
                            position: absolute;
                            top: -20px;
                            left: 30%;

                            @include tab{
                                display: none;
                            }

                            h1{
                                color: rgba($color: #000000, $alpha: 0.1);
                                font-size: 8rem;

                                @include tab{
                                    font-size: 2em;
                                }
                            }
                        }
                    }

                    h5{
                        padding: 0 20px;
                        font-size: 2rem;
                        color: rgba($color: #000000, $alpha: 0.6);
                        text-transform: capitalize;
                        font-style: italic;

                        @include tab{
                            font-size: 0.65rem;
                        }

                        @include mobile{
                            font-size: 0.5rem;
                        }

                       
                    }

                    p{
                        text-align: justify;
                        padding: 0 20px;

                        @include tab{
                            font-size: 9px;
                            padding: 0 5px;
                        }

                        @include mobile{
                            font-size: 8px;
                        }
                    }

                    .visitBtn{
                        width: 100%;
                        margin-left: 40px;
                        padding-top: 30px;

                        @include tab {
                            padding-top: 5px;
                        }
                        @include mobile {
                            padding-top: 5px;
                            
                        }
                        a{
                            .lcProjGlobeBtn{
                                color: rgba($color: #000000, $alpha: 0.7);
                                transition: all 0.5s ease;

                                @include tab{
                                    font-size: 12px;
                                }
                                
                                @include mobile{
                                    font-size: 10px;
                                }
                                
                                &:hover{
                                    color: rgba($color: #000000, $alpha: 0.5);
                                    cursor: pointer;
                                    transform: skew(-15deg) rotate(30deg) scale(1.1);
                                    
                                }
    
                            }
                        }

                    }

                }

                
            }

            .projRight{
                flex:8;
                height: 100%;
                position: relative;
                overflow: hidden !important;
                transition: all 1s ease-in-out;

                @include tab{
                    flex: 9;
                }

                @include mobile {
                    flex: 10;
                }
                
                

                .projRImageBg{
                    position: absolute;
                    transform: rotate(-15deg) translateX(100px) translateY(-150px);
                    opacity: 0.75;
                    overflow: hidden !important;

                    img{
                        overflow: hidden !important;
                        overflow-y: hidden !important;
                        overflow-x: hidden !important;
                    }
                }

                .prToolsUsedDiv{
                    position: absolute;
                    bottom: 50px;
                    right: 50px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .videoDiv{
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    margin:5px;
                    padding:5px;
                    justify-content: center;
                    transition: all 0.5s ease-in-out;

                    @include tab{
                        margin: 0;
                        padding: 0;
                        width: 100%;
                    }
                    @include mobile{}
                }
                
            }

        }
        
    }

    .projArrowRight{
        color: white;
        position: absolute;
        right: 5px;
        bottom: 50vh;
        cursor: pointer;
        .projArrowRightIcon{
            font-size: 4em;
            
            &:hover{
                text-shadow: 1px 1px 2px 2px rgba($color: #000000, $alpha: 1);

            }
        }
    }
    .projArrowLeft{
        color: white;
        position: absolute;
        left: 15px;
        bottom: 50vh;
        text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
        cursor: pointer;

        .projArrowleftIcon{
            font-size: 4em;
                &:hover{
                    text-shadow: 1px 1px 2px 2px rgba($color: #000000, $alpha: 1);
            
                }
        }
    }

}