$mainBgColor: #010408;
$maincolor: #07162b;
$eduBgColorDarkBlue : #05081e;
$skillsBgColor: #f2f2f2; 

$projectBgColor: #BCC6CC;

$boxBgColor: #0d284e;
$hoverColorBlue: #1a4c93;
$btnColorBlue: #518de0;
$txtColorBlue: #2670d8;

$skillsTxtTitle: #4c4c4c;

$weBgLightSteelBlue: rgb(176,196,222);
$weBgSteelBlue: #4682b4;

$txtColorDarkGray: #767C84;
$txtColorLightGray: #A0A5A6;
$txtColorLighterGray: #e7e7e7;

$txtColorGreen: #4a8d19;
$hoverColorGreen: #97BF7B;
$txtColorDrForestLight: #C7D9B9;

$bgGreenLaural: #a9ba9d;

$txtColorPink: #dc143c;
$btnColorPinkDarker: #b51232;

$aboutBgColor: #65686f;

$title-fontSize: 2.5rem;

$width: 500px;
$tab-width: 900px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
}

@mixin tab{
    @media (max-width: #{$tab-width}) {
        @content
    }
}



